
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  background-color: #653f3f;
  top: 0.5em;



 }
 
li {
  float: left;
  border: 0px;
 }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
 }

.active_nav{
  color: yellow;
 }

 footer {
  text-align: center;
 }

 footer img{
  height: 50px;
  width: 100px;
 }

.header_logo{
  text-align: left;
  background-color: #ececec;
}

.header_logo img{
  height: 100px;
  width: 200px;
  display: inline;
  vertical-align: middle;
}

.header_logo div {
  height: 100px;
  display: inline;
  font-weight: bold;
  vertical-align: middle;
}

.header_logo p{
  display: inline;
  vertical-align: middle;
}

.nav_wrapper{
  margin: 10px;
  padding: 10px;

}

main div h1{
  text-align: center;
  font-size: 70pt;
}

main div{
  margin:  10px;
  padding: 10px;
}

main div p{
  width: 100%;
  text-align: center;
  color: white;
  background-color: #968383;
}

footer div div{
  margin:  10px;
  padding: 10px;
}

footer div div p{
   width: 100%;
  text-align: center;
  color: white;
  background-color: #968383; 
  font-size: 6px;
}

.main_content_wrapper{
  margin: 10px;
  padding: 10px;
  display: inline;
  text-align: center;
}

.inner_content img{
  display: inline;
  margin: 5px;
  padding: 5px;
  height: 200px;
  width: 200px;

}